
.hero{
  position: relative;
  top: -6rem;
  margin-bottom: -6rem;
  min-height: calc(100vh + 6rem);
  background-attachment: fixed;
  background-size: cover;
}

.hero h1{
  font-size: 3rem;
}

.categoriesBox{
  width: 200px;
  height: 200px;
  border-radius: var(--radius-xs);
  background-size: cover;
}