.navigation{
  position: sticky;
  top: 0;
  width: 4.7rem;
  min-height: 100vh;
  align-self: self-start;
  background: var(--tr-primary-color);
  border-right: 5px solid var(--tr-accent-color);
  overflow-x: hidden;
  transition: all ease 0.3s;
}

.navigation ul{
  width: 100%;
  padding-left: 5px;
  padding-top: 2.5rem;
}

.listItem{
  width: 100%;
}

.link{
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--space-xs);
  color: var(--tr-white);
  border-radius: var(--radius-lg) 0 0 var(--radius-lg);
}

.active{
  background-color: var(--tr-accent-color);

}

.linkIcon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 1.8em;
}

.linkTitle{
  position: relative;
}

@media screen and (max-width:42em){
  .navigation{
    position: fixed;
    top: unset;
    min-height: unset;
    bottom: 0;
    width: 100%;
    z-index: 99;
    border-right: unset;
    border-top:5px solid var(--tr-accent-color);
    padding: 0 2rem;
  }
  .navigation ul{
    display: flex;
    gap: var(--space-xs);
    padding-top: unset;
  }
  .link{
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    justify-content: center;
    user-select: none;
  }
  .linkIcon{
    height: unset;
    min-width: unset;
    line-height: unset;
  }
  .linkTitle{
    display: none;
  }
}

@media screen and (min-width:42em) {
  .navigation:hover{
    width: 300px;
  }
}