:root{
  --tr-primary-color: hsl(220, 49%, 15%);
  --tr-primary-darker: hsl(234, 71%, 18%);
  --tr-primary-lighter: hsl(220, 49%, 16%);
  --tr-secondary-color: hsl(220, 49%, 20%);
  --tr-secondary-darker: hsl(234, 22%, 35%);
  --tr-accent-color: hsl(45, 61%, 53%);
  --tr-accent-darker: hsl(45, 61%, 40%);
  --tr-diabled-color: hsl(233, 18%, 60%);
  --tr-primary-overlay: hsla(220, 49%, 15%, 0.4);
  --tr-gray-overlay: hsla(0, 0%, 0%, 0.3);
  --tr-accent-overlay: hsl(45, 61%, 53%, 0.4);
  --tr-background: hsl(0, 0%, 100%);
  --tr-background-lighter: hsl(0,0%, 90%);
  --tr-text: hsl(71, 38%, 16%);
  --tr-text-secondary: hsl(234, 22%, 44%);

  --bg-gradient: linear-gradient( var(--tr-primary-overlay) 35%, var(--tr-accent-overlay));
}

html{
  scroll-behavior: smooth;
}

body{
  color: var(--tr-white);
}

.App{
  max-width: 120rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer{
  margin-top: auto;
}

/* utilities */
.ml-auto{
  margin-left: auto;
}

.flex-1{
  flex: 1;
}

.no-cursor{
  cursor: not-allowed;
}

.grid-autofit-md {
  grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
}

header{
  position: relative;
  width: 100%;
  backdrop-filter: blur(2px);
  background-image: linear-gradient( var(--tr-primary-overlay) 70%, transparent);
  z-index: 9;
}

.sidenav-link.active{
  background-color: var(--tr-accent-color);

}

.sidenav-link.active::before,
.sidenav-link.active::after
{
  content: "";
  position: absolute;
  top: calc(-1 * var(--space-lg));
  right: 0;
  height: var(--space-lg);
  width: var(--space-lg);
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 1rem 1rem 0 var(--tr-accent-color);
}

.sidenav-link.active::after
{
  top: unset;
  bottom: calc(-1 * var(--space-lg));
  box-shadow: 1rem -1rem 0 var(--tr-accent-color);
}

main{
  min-height: 70vh;
}

/* Video Card  */

.tr-card .title{
  color: var(--tr-white);
}

.tr-card .subtitle{
  color: var(--tr-gray);
}

/* tooltip for the card title  */
.tr-card .title:hover::after{
  content: attr(data-title);
  font-size: 0.7rem;
  width: fit-content;
  left: 0;
  transform: translateY(100%);
  top: 0;
  position: absolute;
  background: var(--tr-gray);
  color: var(--tr-primary-color);
  padding: 0 0.5rem;
  z-index: 9;
  border-radius: var(--radius-xs);
}

.video-player-page{
  grid-template-columns: 4fr 2fr;
}

.tr-modal-wrapper{
  z-index: 99;
  backdrop-filter: blur(3px);
}

.tr-modal-wrapper .modal-title{
  font-size: var(--fs-lg);
}

.tr-modal-wrapper .tr-modal-box{
  max-width: unset;
}

@media screen and (max-width: 40em) {
  :root{
    font-size: 14px;
  }
  header{
    justify-content: center;
    gap: var(--space-xs);
  }
  header .hamburger{
    display: block;
  }
  header .nav{
    width: 100%;
    justify-content: center;
    margin-left: unset;
    display: none;
  }
  header .nav.active{
    display: flex;
  }
  .video-player-page{
    grid-template-columns: 1fr;
  }
}
