:root{
  --tr-primary-color: hsl(220, 49%, 15%);
  --tr-primary-darker: hsl(234, 71%, 18%);
  --tr-primary-lighter: hsl(220, 49%, 30%);
  --tr-secondary-color: hsl(234, 22%, 44%);
  --tr-secondary-darker: hsl(234, 22%, 35%);
  --tr-accent-color: hsl(45, 61%, 53%);
  --tr-accent-darker: hsl(45, 61%, 40%);
  --tr-diabled-color: hsl(233, 18%, 60%);
  --tr-primary-overlay: hsla(220, 49%, 15%, 0.4);
  --tr-gray-overlay: hsla(0, 0%, 0%, 0.3);
  --tr-accent-overlay: hsl(45, 61%, 53%, 0.4);
  --tr-background: hsl(0, 0%, 100%);
  --tr-background-lighter: hsl(0,0%, 90%);
  --tr-text: hsl(71, 38%, 16%);
  --tr-text-secondary: hsl(234, 22%, 44%);

  --bg-gradient: linear-gradient( var(--tr-primary-overlay) 35%, var(--tr-accent-overlay));
}

html{
  scroll-behavior: smooth;
}

body{
  color: var(--tr-white);
}

.ml-auto{
  margin-left: auto;
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(2px);
  background-image: linear-gradient( var(--tr-primary-overlay) 70%, transparent);
  z-index: 9;
}

main{
  min-height: 70vh;
}

@media screen and (max-width: 45em) {
  :root{
    font-size: 14px;
  }
  header{
    justify-content: center;
    gap: var(--space-xs);
  }
  header .hamburger{
    display: block;
  }
  header .nav{
    width: 100%;
    justify-content: center;
    margin-left: unset;
    display: none;
  }
  header .nav.active{
    display: flex;
  }
}
